<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>

<body>
    <form action="" method="post">
        账号:<input type="text" name="name1">
        <br>
        密码:<input type="password" name="password1">
        <input type="submit" name="submit1">
    </form>
    <br>
    <br>
    <br>
    <br>
    <a href="https://www.baidu.com" target="_blank">
        <button>跳转到百度</button>
    </a>
</body>

</html>